body {
  background: #f3e4f1;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1,
h2 {
  margin: 10px 0;
  color: #a855f7;
  text-transform: uppercase;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin-bottom: 20px;
}

li {
  list-style: none;
}

.nav_items {
  text-decoration: none;
}

.nav_items:hover {
  color: #a855f7;
  cursor: pointer;
}

.page,
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.page_item,
.form div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.page_item > div {
  border: 2px solid;
  padding: 0 10px 20px;
  border-radius: 5px;
}

button {
  padding: 5px 15px;
  background: #c4b5fd;
  border: 1px solid;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background: #a855f7;
  color: #fff;
  border: 1px solid;
}

.form {
  margin: 20px;
}

input {
  text-align: center;
}
